# organization on docker cloud
DOCKERCLOUD_NAMESPACE=datopian
DOCKER_AUTO_REDEPLOY=False
# authentication token
JWT_TOKEN=
# simple project name for use as prefix
PROJECT=datahub
# base domain to which prefixes are added such as STAGE and specific services
DOMAIN_BASE=datahub.io
# stage e.g. testing, staging, production
STAGE=staging
# FQDN
DOMAIN=${STAGE}.${DOMAIN_BASE}
# API DOMAIN
# NB: we have api-${STAGE}.${DOMAIN_BASE} rather than api.${STAGE}.${DOMAIN_BASE}
# because cloudflare https certs only work with one leve of nesting not two
# So api-staging.datahub.io will work but api.staging.datahub.io won't work
DOMAIN_API=api-${STAGE}.${DOMAIN_BASE}

# ======================
# Object Storage e.g. S3
# ======================

# AWS Credentials - common across buckets
AWS_ACCESS_KEY=
AWS_SECRET_KEY=

# Bucket locations (used by various services)
PKGSTORE_BUCKET=pkgstore-${STAGE}.${DOMAIN_BASE}


# ============
# RDS service
# ============

# AWS Postgres Database URI. Should follow the general form for a postgresq connection URI:
# postgresql://[user[:password]@][netloc][:port][/dbname][?param1=value1&...]
# Will be generated and displayed if creating RDS instance for first time
RDS_URI=

# ============
# ElasticSearch Service
# ============

# ES URL. If on AWS *must* include https and :443 or does not work ...
# https://....:443
# Will be generated and displayed when you create ES instance for first time
ELASTICEARCH_URI=

# ============
# auth service
# ============

# signing keys for JWT - tools for generating them in auth service repo
PRIVATE_KEY=
PUBLIC_KEY=

# OAUTH keys for social signin
GOOGLE_KEY=
GOOGLE_SECRET=
GITHUB_KEY=
GITHUB_SECRET=

# ============
# rawstore service
# ============

# NOTE: storage credentials are above in Object Storage
RAWSTORE_BUCKET=rawstore-${STAGE}.${DOMAIN_BASE}

# ============
# admin public keys for sshing
# ============

# note this is Rufus' public key atm - but you can change to your own if you want to add your key for access
ADMIN_KEY=ssh-dss AAAAB3NzaC1kc3MAAACBAN3MM1dL+9IqSU7fP14IxvZI2bS0whPz6LOTBEgLIW+KqtS8koIC3BU1cymo2nF1mbMM1d7xSh09RbHR8feT9W85pn4slMjUC8yMoeaODku038mMSqK2j6vhFm/DLUEqNIYpn34ZdykvO8hyVmoy7lJqcAjiGbP7WfQjwMYFHOZpAAAAFQCwcdhE6xj3p+W5P1l5ZrmPFq0LKwAAAIEA0khO9JR4QHchzHDUTueyoWXEfH14iHU9nHCRoJZViV1I6mTMSgPqAWx+RYIWN/peuyWxTvgJTRl6B+NetMi35nkY+uVNe4PfFVsGqWzXRySsQUKg2OpWc465nHlJTB7lz6GQoo5zBKP55gki8PJpbjLL4LhnmTCirl7BTTfCtfYAAACAWXZOAqKhudB7TcZQU9AJK3zVtjYtCm/eTVrXQwvXMtnU3SP8LioJtXKDpw9xRhcSekvvA6o03HJ2KnNf4robXbb8eb++6yuXH3FcSUlK5lZeDtFVrbN3nbppcZzWRSNGwavPsTMfQDANcbuTmEAsb+2wwHmuqyITpwciG3iIyCs= rgrp@gimmel

# ============
# datadog service
# ============

# API key for datadog agent
DATADOG_API=

# ============
# filemanager debugging
# ============

# Should be left empty for production, ':8000' for testing
FILEMANAGER_EXPOSE_PORT=

# ============
# Plans admin secrets
# ============
PLANS_ADMIN_USERNAME=
PLANS_ADMIN_PASSWORD=
PLANS_SESSION_SECRET_KEY=
