PROJECT=dpr
DOMAIN_BASE=datapackaged.com
STAGE=staging
GITHUB_CLIENT_ID=client_id
GITHUB_CLIENT_SECRET=client_secret
AWS_ACCESS_KEY_ID=access_key_id
AWS_SECRET_ACCESS_KEY=secret_key
AWS_REGION=us-west-2
S3_BUCKET_NAME=bucket.name
JWT_SEED=your-secret-seed
SQLALCHEMY_DATABASE_URI=database@uri
DOMAIN=%(STAGE)s.%(DOMAIN_BASE)s
DPR_API_GIT=https'://github.com/frictionlessdata/dpr-api.git
