{
  "environment_tier": "",
  "github_client_id": "",
  "github_client_secret": "",
  "aws_key": "",
  "aws_secret": "",
  "region": "",
  "domain_name": "",
  "bit_store_bucket_name": "",
  "run_env": "docker"
}
