{
  "name": "{{auth0_connection_name}}",
  "strategy": "auth0",
  "options": {
    "validation": {
        "username": {
          "min": 6,
          "max": 15
        }
    },
    "passwordPolicy": "fair",
    "requires_username": true
  },
  "enabled_clients": [
    "{{auth0_client_id}}"
  ]
}
