{
  "stage": {
        "project_name": "dpr-api-ansible",
        "s3_bucket": "{{ s3_bucketname }}",
        "app_function": "dpr.application",
        "aws_region": "{{ aws_region }}",
        "use_apigateway": true,
        "memory_size": 512,
        "log_level": "DEBUG",
        "debug": true,
        "profile_name": "default"
    }
}
