{
  "{{environment_tier}}": {
        "project_name": "{{zappa_project}}",
        "s3_bucket": "{{ bit_store_bucket_name }}",
        "app_function": "dpr.application",
        "aws_region": "{{ region }}",
        "use_apigateway": true,
        "memory_size": 512,
        "log_level": "DEBUG",
        "debug": true,
        "profile_name": "default",
        "environment_variables": {
            "FLASK_CONFIGURATION": "stage",
            "GITHUB_CLIENT_ID": "{{ github_client_id }}",
            "GITHUB_CLIENT_SECRET": "{{ github_client_secret }}",

            "SQLALCHEMY_DATABASE_URI": "{{ sql_alchemy_uri }}",
            "FLASKS3_BUCKET_NAME": "{{ bit_store_bucket_name }}",
            "AWS_REGION": "{{ region }}",
            "AWS_ACCESS_KEY_ID": "{{aws_key}}",
            "AWS_SECRET_ACCESS_KEY": "{{aws_secret}}",
            "S3_BUCKET_NAME": "{{ bit_store_bucket_name }}"
        }
    }
}
